/* bb哔哔 */
/* bb样式 */
.timeline ul li{
  position: relative;
  padding-left: 2.5rem;
}
/* 标题 */
.bb-info{
  display: inline;
  float: right;
  line-height: 3.7rem;
}
/* 每条动态 */
#bber > section > ul > div > li > div{
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  background: #F6F6F6;
  border-radius: 12px;
  padding: 8px 16px;
  margin-top: 12px;
}
#bber > section > ul > div > li > div:hover{
  background: #FFE4B5;
}
#bber .datafrom i{
  margin-right: 4px;
}
/* 时间 */
#bber > section > ul > div > li > div .datatime{
  order: 1;
  color: #8fbc8f;
  font-size: 0.6rem;
}
/* 内容 */
#bber > section > ul > div > li > div .datacont{
  color: #ef794f;
  order: 0;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
  line-height: 1.38;
  margin: 8px 0;
}
/* 设备 */
#bber > section > ul > div > li > div .datafrom{
  order: 2;
  color: #4CAF50;
  font-size: 0.6rem!important;
  margin-left: 8px;
}
#bber > section > ul > div > li > div .datafrom small{
  font-size: 100%;
}
/* 时间线 */
.timeline ul li::after {
  position: absolute;
  top: 1rem;
  left: 0rem;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  content: "";
  background-image: url(https://cdn.jsdelivr.net/gh/ccknbc-backup/cdn/logo/logo.png);
  background-size: 2rem;
}
[data-theme="dark"]
  #bber > section > ul > div > li > div {
  background: #2c2c2c;
}
[data-theme="dark"]
#bber > section > ul > div > li > div .datacont{
color: #f2b94b;
}
[data-theme="dark"]
#bber > section > ul > div > li > div:hover{
  background: rgba(68,215,182,.5);
}