.li-style:hover{
  color: #ef794f;
}

i.fas.fa-angle-double-right.faa-passing.animated:hover,i.far.fa-comment-alt:hover{
  color: #8fbc8f;
}
#ddTimeList:hover{
  background: #FFE4B5;
}
[data-theme="dark"]
.li-style:hover{
  color: #f2b94b;
}
[data-theme="dark"]
#ddTimeList:hover{
  background: #44d7b680;
}

.daodao-gotodd {
  line-height: 25px;
  margin-left: 8px;
  transition: .3s;
}